<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914624356550-8te188k8slrh3o85llogk0m9hichmd02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914624356550-8te188k8slrh3o85llogk0m9hichmd02</string>
	<key>API_KEY</key>
	<string>AIzaSyD6auBMZsSaUSEUzk1JBSmNBxeNrvtcXBI</string>
	<key>GCM_SENDER_ID</key>
	<string>914624356550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.fatodo.Fatodo</string>
	<key>PROJECT_ID</key>
	<string>fatodo</string>
	<key>STORAGE_BUCKET</key>
	<string>fatodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914624356550:ios:a884337c6b075744e3f7c7</string>
</dict>
</plist>